/* styles/AboutUs.module.css */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .imageWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .text {
    text-align: justify;
    line-height: 1.6;
    font-family: "jua";
    color: #503621;
  }
  
  