/* styles/global.css */
body {
    background-color: #fff5e5; /* Your desired background color */
}

.jua {
    font-family: var(--font-jua);
}

.tittle {
    color:brown;
}

.navbarCenteredItems > ul {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .cardSize {
    width: 58rem;
  }

  .backGrounCard {
    background-color: #fff5e5; /* Your desired background color */
  }

  .fontLighBrown {
    color:  #b37848;
  }

  .fontDarkBrown {
    color: #503621;
  }